@font-face{
  src:url(fonts/LemonMilk/LemonMilk.otf);
  font-family: lm;
}
@font-face{
  src:url(fonts/LemonMilk/LemonMilkbold.otf);
  font-family: lmb;
}
@font-face{
  src:url(fonts/timeless/Timeless-Bold.ttf);
  font-family: tlss;
}

#paragraph{
  font-size: 20px;
  line-height: 62px;
  text-align: center;
  font-family: lm;
}
#title{
  font-size: 20px;
  font-family: lmb;
  margin: 0 0 0 0;
}
#problem{
  font-family:lm;
  text-align: center;
}
body {
    background-color: rgb(230,230,230);
}

.video {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/*navigation bar*/
.navbar-fixed {
  top: 0;
  left:0;
  z-index: 100;
  background-color: white;
  position: fixed;
  width: 100%;
}
.nav_links {
  margin: 0;
}
.nav_links li {
  display: inline-block;
}
.nav_links li a {
  padding: 0 25.5px;
  color: black;
  text-decoration: none;
}
.nav_links a:hover {
    color: rgb(213,58,58);
}

/*slide show*/
.slideShow{display:none;}
.slideshow-container {
  max-width: 100%;
  max-height: 1000px;
  position: relative;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*drop down menu*/
.dropdown-content {
    display: none;
    position: absolute;
    padding-left: 0px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0 0 0 0;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/*body*/
.titles{
  font-family:lm;
  text-align: center;
  font-size: 44px;
  -webkit-text-stroke: 1px black;
  color: rgb(213,58,58);
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title-impact{
  font-family:lm;
  text-align: center;
  font-size: 44px;
  -webkit-text-stroke: 1px black;
  color: rgb(45, 99, 14);
  text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.centered {
  position: absolute;
  font-family:lm;
  font-size: 58;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px white;
    color: rgb(213,58,58);
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.body-div{
  height: 95%;/*normal 693px*/
  background-color: white;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 45px;
  padding: 5px;
  text-align: center;
  border: 3px solid rgb(213,58,58);
}
.solution-div{
  height: 95%;/*normal 693px*/
  background-color: white;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 45px;
  padding: 5px;
  text-align: center;
  border: 3px solid rgb(45, 99, 14);
}
.video-div{
  height: 47%;/*normal 693px*/
  width: 45%;
  background-color: white;
  padding: 5px;
  text-align: center;
  margin: auto;
  border: 3px solid rgb(50, 68, 128);
}
/*.body-div2{
  height: 893px;
  background-color: white;
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}*/
.img-div{
  height: 100%;
  width: 700px;
  background-color: white;
  margin:0;
  padding: 0;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-div2{
  height: 100%;
  width: 700px;
  background-color: rgb(244,219,229);
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.body-p{
  padding: 10px;
  column-count: 2;
  text-align: center;
  font-family:tlss;
  font-size: 20px;
  height: 900px;
  text-align: justify;
  text-justify: inter-word;
}
.paragraph{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.image{
  width: 75%;
  margin: 10px;
}
.image2{
  width: 85%;
  margin: 10px;
}
.image3{
  width: 98.5%;
  margin: 10px;
}
